.columnsContainer {  /* changed from commandsContainer */
  height: 100%;
  width: 60vw;
  min-width: 290px;
  margin: 20px;
}

.columnsHeader {  /* changed from commandsHeader */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.columnsContainer h1 {  /* changed from commandsContainer */
  text-align: end;
}

.columns-list {  /* changed from commands-list */
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  height: 60vh;
}

.columns-list li {
  padding-right: 10px;
}

@media only screen and (max-width: 400px) {
  .actionColumnItemButtons {  /* changed from actionCommandItemButtons */
      display: flex;
      flex-direction: column;
      gap: 5px;
  }
}
