.bars {
  margin: 8px 0;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 6px;
  border-radius: 3px;
  background: rgba(231, 231, 231, 0.5);
}

.bars div {
  height: 6px;
  border-radius: 3px;
  transition: 0.4s;
  width: 0%;
}

.bars.חלשה div {
  background: #e24c71;
  width: 33.33%;
}

.bars.בינונית div {
  background: #f39845;
  width: 66.66%;
}

.bars.חזקה div {
  background: #57c558;
  width: 100%;
}

.strength {
  text-align: right;
  height: 30px;
  text-transform: capitalize;
  color: #868b94;
}

p {
  font-size: 15px;
  margin: 0;
  text-align: right;
  text-transform: capitalize;
  color: #868b94;
}
