@font-face {
  font-family: Inter;
  src: url("./assets/Inter/Inter-VariableFont_slnt,wght.ttf");
}
/* 
* {
  font-family: Inter !important;
} */

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: linear-gradient(#fcfcfc, #f1dea1, #fccd38);
  font-family: "Arial", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
